<div class="login-register-area ptb-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-12 ml-auto mr-auto">
              <div class="login-register-wrapper">
                  <div class="login-register-tab-list nav">
                      <a class="active" data-toggle="tab" href="#lg1">
                          <h4> login </h4>
                      </a>

                  </div>
                  <div class="tab-content">
                      <div id="lg1" class="tab-pane active">
                          <div class="login-form-container">
                              <div class="login-register-form">
                                <div *ngIf="errorMsg!=''" class="alert alert-danger">{{errorMsg}}</div>
                                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <input name="email" placeholder="Email" type="email" formControlName="email">
                                    <div *ngIf="email?.invalid&&(email?.dirty||email?.touched||isSubmitted)" class="alert alert-danger">
                                      <p *ngIf="email?.errors?.['required']">email is required</p>
                                      <p *ngIf="email?.errors?.['email']">email is invalid</p>


                                    </div>
                                    <input type="password" name="password" placeholder="Password" formControlName="password"
                                    >
                                    <div *ngIf="password?.invalid&&(password?.dirty||password?.touched||isSubmitted)" class="alert alert-danger">
                                      <p *ngIf="password?.errors?.['required']">password is required</p>

                                    </div>
                                      <div class="button-box">
                                          <div class="login-toggle-btn">
                                              <input type="checkbox">
                                              <label>Remember me</label>
                                              <a href="#">Forgot Password?</a>
                                          </div>
                                          <button type="submit"><span>Login</span></button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
